:root{
    --cor-primaria:#FFFFFF;
    --cor-secundaria:#C0C0C0;
    --cor-botao-background:#167BF7;
    --cor-background:#00030C;
    --fonte-principal:'Inter';
}

body{
    background-color: var(--cor-background);
    color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url(./assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;

}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.principal__img{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--cor-botao-background);
    color:var(--cor-primaria);
    border-radius: 8px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin: 1em;
}

.container__aviso{
    font-size: 12px;
    color: var(--cor-secundaria);
}

.vazado{
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
    color: var(--cor-primaria);
}

.secundario{
    align-items: center;
    margin: 0 10rem;
}

.secundario__img{
    width: 80%;
}

.container__descricao{
    padding: 2em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-primaria);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cor-secundaria);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;

}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--cor-primaria);
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__lista__item{
    font-size: 32px;
    color: var(--cor-primaria);
}

.rodape{
    text-align: center;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 1em;
}

.rodape__lista__item{
    margin: 1em;
}

.rodape__lista__item__link{
    color: var(--cor-primaria);
    font-style: none;
    text-decoration: none;
}

.rodape__texto{
    color: var(--cor-secundaria);
    padding: 1em;
    font-size: 14px;
}



